
@media (max-width: 992px) {
    
    .tabla-grande{
        display: none;
    }
    .tabla-chica{
        font-size: smaller;
    }
 }

 @media (min-width: 1000px){
     .tabla-chica{
        display: none;
     }
 }
