<ul class="alert alert-danger" *ngIf="errores?.length >0">
    <li *ngFor="let item of errores">{{item}}</li>
</ul>
<div class=" container card bg-dark text-white my-5">
    <div class="card-header table-bordered border-white">{{titulo}}</div>
    <div class="card-body">
        <form #clienteForm="ngForm">
            <div class="form-group row pb-3">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre"
                    #nombre="ngModel">
                    <div class="alert alert-danger" *ngIf="nombre.invalid && ( nombre.dirty|| nombre.touched)">
                        <div *ngIf="nombre.errors.required">El nombre es requerido</div>
                        <div *ngIf="nombre.errors.minlength">Debe tener 4 o más caracteres</div>
                    </div>
                </div>
            </div>

            <div class="form-group row pb-3">
                <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido"
                    #apellido="ngModel">
                    <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                        <div *ngIf="apellido.errors.required">El apellido es requerido</div>
                        <div *ngIf="apellido.errors.minlength">Debe tener 4 o más caracteres</div>
                    </div>
                </div>
            </div>

            <div class="form-group row pb-3">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email"
                     #email="ngModel">
                    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.required">El email es requerido</div>
                        <div *ngIf="email.errors.email">El email debe ser de formato valido</div>
                    </div>
                </div>
            </div>

            <div class="form-group row pb-3">
                <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
                <div class="col-sm">
                        <input matInput [matDatepicker]="picker" class="form-control" [(ngModel)]="cliente.createAt" name="createAt" [(ngModel)]="cliente.createAt" name="createAt" style="display: inline; width: 90%;">
                        <mat-datepicker-toggle matSuffix [for]="picker" style="color: white;"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                </div>
            </div>

            <div class="form-group row pb-3">
                <label for="region" class="col-form-label col-sm-2">Region</label>
                <div class="col-sm">
                        <select [compareWith]="compararRegion" class="form-control" [(ngModel)]="cliente.region" name="region" style="display: inline; width: 90%;">
                            <option [ngValue]="undefined"> >---Selecionar una region----< </option>
                            <option *ngFor="let region of regiones" [ngValue]="region">{{region.nombre}}</option>
                        </select>
                </div>
            </div>

            <div class="form-group row flex-center position-relative">
                <div class="row">
                    
                    <div class="col">
                        <button class="btn btn-success" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock"
                        [disabled]="!clienteForm.form.valid">Crear</button>
    
                        <ng-template #elseBlock>
                            <button class="btn btn-primary" role="button" (click)='update()'
                            [disabled]="!clienteForm.form.valid">Actualizar</button>
                        </ng-template>
                    </div>
                    
                    <div class="col">
                        <button class="btn btn-danger mx-2" role="button" [routerLink]="['/clientes']">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>